<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Product name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" class="form-control" name="row[name]" type="text" data-rule="required" value="{$row.name|htmlentities}" placeholder="请输入产品名称">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Description')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-description" class="form-control" name="row[description]" rows="3" placeholder="产品描述">{$row.description|htmlentities}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" class="form-control" size="50" name="row[image]" type="text" value="{$row.image|htmlentities}" placeholder="产品图片路径">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">尺寸公式:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <div class="col-sm-4">
                    <label class="control-label">长度(cm):</label>
                    <input id="c-length_formula" class="form-control" name="row[length_formula]" type="text" value="{$row.length_formula|htmlentities}" placeholder="如: 100 或 =L*0.8">
                    <p class="help-block">支持数字或公式，公式中可使用L、W、H变量</p>
                </div>
                <div class="col-sm-4">
                    <label class="control-label">宽度(cm):</label>
                    <input id="c-width_formula" class="form-control" name="row[width_formula]" type="text" value="{$row.width_formula|htmlentities}" placeholder="如: 50 或 =W*0.9">
                </div>
                <div class="col-sm-4">
                    <label class="control-label">高度(cm):</label>
                    <input id="c-height_formula" class="form-control" name="row[height_formula]" type="text" value="{$row.height_formula|htmlentities}" placeholder="如: 20 或 =H+5">
                </div>
            </div>
        </div>
    </div>
    
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>