<div class="panel panel-default panel-intro">
    <div class="panel-heading">
        <div class="btn-group" id="toolbar">
            <a class="btn btn-primary btn-add {:$auth->check('bom/product/add')?'':'hide'}" title="{:__('Add')}" href="javascript:;"><i class="fa fa-plus"></i> {:__('Add')}</a>
            <a class="btn btn-primary btn-edit btn-disabled disabled {:$auth->check('bom/product/edit')?'':'hide'}" title="{:__('Edit')}" href="javascript:;"><i class="fa fa-pencil"></i> {:__('Edit')}</a>
            <a class="btn btn-danger btn-del btn-disabled disabled {:$auth->check('bom/product/del')?'':'hide'}" title="{:__('Delete')}" href="javascript:;"><i class="fa fa-trash"></i> {:__('Delete')}</a>
            <a class="btn btn-success btn-bom btn-disabled disabled {:$auth->check('bom/product/bom')?'':'hide'}" title="BOM管理" href="javascript:;"><i class="fa fa-sitemap"></i> BOM管理</a>
            <a class="btn btn-info btn-calculate btn-disabled disabled {:$auth->check('bom/product/calculate')?'':'hide'}" title="成本计算" href="javascript:;"><i class="fa fa-calculator"></i> 成本计算</a>
            <div class="dropdown btn-group {:$auth->check('bom/product/multi')?'':'hide'}">
                <a class="btn btn-default btn-more dropdown-toggle btn-disabled disabled" data-toggle="dropdown"><i class="fa fa-cog"></i> {:__('More')}</a>
                <ul class="dropdown-menu text-left" role="menu">
                    <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=normal"><i class="fa fa-eye"></i> {:__('Set to normal')}</a></li>
                    <li><a class="btn btn-link btn-multi btn-disabled disabled" href="javascript:;" data-params="status=hidden"><i class="fa fa-eye-slash"></i> {:__('Set to hidden')}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <table id="table" class="table table-striped table-bordered table-hover table-nowrap" 
                       data-operate-edit="{:$auth->check('bom/product/edit')}" 
                       data-operate-del="{:$auth->check('bom/product/del')}" 
                       width="100%">
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="imagetpl">
<a href="{{# d.image }}" target="_blank" class="label bg-green">
    <img src="{{# d.image }}" style="max-height:18px;max-width:50px">
</a>
</script>

<script type="text/html" id="formulatpl">
{{# if(d.FAT_FIELD_NAME) { }}
    <span class="text-muted">{{# d.FAT_FIELD_NAME }}</span>
{{# } else { }}
    <span class="text-danger">未设置</span>
{{# } }}
</script>

<script type="text/html" id="statustpl">
{{# if(d.status === 'normal') { }}
    <span class="label label-success">启用</span>
{{# } else { }}
    <span class="label label-default">禁用</span>
{{# } }}
</script>